*{
    margin: 0;
    padding: 0;
}


h1,h2,h3,h4,h5,h6 {
	position: relative;
	font-weight: normal;
	margin: 0px;
	background: none;
	line-height: 1.6em;
	font-family: 'Poppins', sans-serif;
}



#main {
  justify-content: center;
  align-items: center;
}

#containermain {
  z-index: 101;
  display: flex;
  position: fixed;
  flex-direction: column;
  margin-top: 115px;
  margin-left: 1430px;
}

#containermain img {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  
}

#containermain button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: transparent;
}

.button {
  border: none;
  color: rgb(98, 99, 102);
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 20px 188px;
  position: fixed top;
  cursor: pointer;
}



.lightoff {
  background-color: black;
  transition: background-color 2s ease-out;
}

.lighton {
  background-color: white;
  transition: background-color 2s ease-out;
  box-shadow: 5px 5px 5px #000;
  transition: background-color 2s ease-out;
}




#navbar{
  z-index: 100;
    width: 1519.5px;
    height: 95px;
    top: 0;
    background-color: black;
    position: fixed;
    display: flex;
    transition: top 1s;
}


.logo{
  display: flex;
  flex: row;
  float: left;
  padding: 10px;
}


.imi{
  margin-left: 155px;
}




#slide {
  position: absolute;
  left: -500px;
  width: 150px;
  height: 100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1.5s forwards;
  animation-delay: 2s;
  margin-top: -19px;
  margin-left: 320px;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}


.menu{
  float: right;
  padding: 10px;
  padding-left: 240px;
  justify-content: center;
}


ul{
  float: right;
  display: flex;
  list-style: none;
}


ul li{
  margin-left: 100px;
  margin-top: 20px;
  font-size: 20px;
}


ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
  
  
ul li a:hover{
  color: orange;
}









@media screen and (max-width: 599px) {


  #containermain {
    margin-top: 100px;
    margin-left: 280px;
  }












  #navbar{
      width: 599px;
      height: 55px;
  }




  .logo{
    margin-left: -26%;
  }

  
  
  
  
  #slide {
    width: 100px;
    height: 60px;
    margin-top: -14px;
    margin-left: 90px;
  }
  



















}








#navbar2{
  z-index: 100;
  width: 1519.5px;
  height: 95px;
  top: -100px;
  background-color: white;
  position: fixed;
  display: flex;
  transition: top 1s;
}

.menu2{
  float: right;
  padding: 10px;
  padding-left: 240px;
  justify-content: center;
}


.menu2 ul{
  float: right;
  display: flex;
  list-style: none;
}


.menu2 ul li{
  margin-left: 100px;
  margin-top: 20px;
  font-size: 20px;
}


.menu2 ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
  
  
.menu2 ul li a:hover{
  color: blue;
}













.slideshow-container{
  z-index: 99;
  width: 1519.5px;
  height: 195px;
  position: relative;
  background-color: none;
}

.imgslide{
  height: 815px;
}











.setabaixo{
  margin-left: 49%;
  margin-top: -8%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}




.setabaixo a{
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}


.setabaixo a:hover{
color: blue;
}




@keyframes moveToDown {
  0% {
      transform: translateX(100px);
  }
  100% {
      transform: translateX(0);
  }
}









@media screen and (max-width: 599px) {


  .slideshow-container{
    width: 180%;
    height: 200px;
    position: relative;
    background-color: none;
    left: -43%;
  }
  
  .imgslide{
    height: 680px;
  }
  
}

























.page1{
  position: relative;
  height: 620px;
}



.breakpg2{
  display: block;
  height: 70px;
}


.break2pg2{
  display: block;
  height: 145px;
}



.fullcontainerpg2{
  display: block;
  position: relative;
  height: 530px;
  margin: auto;
}



.titlepg2{
  display: block;
  position: relative;
  height: 60px;
  margin: auto;
}


.whoweare{
  position: relative;
  color: gray;
  text-transform: uppercase;
  margin-left: 40px;
  width: 220px;
}



.whoweare h1{
  font-size: 30px;
}







.separator::before{
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  width: 75px;
  height: 2px;
  background-color: #787878;
  margin-left: 40px;
}


.separator::after{
  position: absolute;
  content: '';
  left: 0px;
  bottom: 2px;
  width: 25px;
  height: 4px;
  background-color: #787878;
  margin-left: 40px;
}









.pequenotexto{
  display: block;
  position: absolute;
  color: gray;
  width: 800px;
  margin: auto;
  margin-top: -50px;
  margin-left: 385px;
}


.pequenotexto h2{
  font-size: 25px;
}









.knowmore{
  position: relative;
  color: #787878;
  float: left;
  margin: auto;
  margin-left: 1320px;
  margin-top: -22px;
  padding-bottom: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #787878;
  width: 160px;
}
  

.knowmore h1{
  font-size: 14px;
}


.knowmore:hover{
  cursor: pointer;
  font-weight: bold;
}




.rightarrow{
  position: absolute;
  margin: auto;
  color: red;
  width: 50px;
  margin-left: 100px;
  margin-top: -37px;
  padding-bottom: 2px;
}


.rightarrow:hover{
  cursor: pointer;
  font-weight: bold;
  color: red;
}









.container2pg2{
  display: block;
  position: relative;
  width: 1519.5px;
  height: 650px;
}

.container2pg2 h2{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #020e28;
    line-height: 1.2em;
    padding: 0px 0px 24px;
    display: inline-block;
    text-transform: uppercase;
}



.history{
  position: relative;
  color: gray;
  text-transform: uppercase;
  margin-left: 45%;
  padding-top: 4%;
  width: 220px;
  padding-bottom: 10px;
}



.history h1{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.separator2::before{
  position: absolute;
  content: '';
  left: 10%;
  bottom: 0px;
  width: 75px;
  height: 2px;
  background-color: #787878;
}


.separator2::after{
  position: absolute;
  content: '';
  left: 21%;
  bottom: 2px;
  width: 25px;
  height: 4px;
  background-color: #787878;
}







@media screen and (max-width: 599px) {




  .whoweare{
    margin: 0;
    margin-top: -35%;
    margin-bottom: 45%;
    margin-left: 24%;
  }




  .separator::before{
    margin: 0;
    margin-left: 40%;
  }




  .separator::after{
    margin: 0;
    margin-left: 46.4%;
  }






  .pequenotexto{
    margin: 0;
    margin-top: -28%;
    margin-left: 18.6%;
    width: 65%;
  }



  .knowmore{
    margin: 0;
    margin-top: 70%;
    margin-left: 30%;
  }







  .history {
    margin: 0;
    margin-left: 9%;
    margin-top: 45%;
  }









}














.espaço{
  display: flex;
  position: relative;
  height: 600px;
}










.section {
  background: #F45B69;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}






.timeline {
  white-space: nowrap;
  overflow-x: hidden;
  margin: 0;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 190px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: gray;
}


.timeline ol li:first-child{
  width: 20px;
}


.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: blue;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: white;
  background: black;
  border: 1px solid blue;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  max-height: 150px;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: blue transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent blue;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}







.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 100px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}







@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: 100%; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
    width: 100%;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 100%;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}























.goalsmain{
  margin-top: 200px;
}




.goals{
  padding-top: 100px;
  display: block;
  position: relative;
  height: 500px; 
}





.titulo{
  position: relative;
  height: 130px;
}


.titulo h1{
  font-size: 30px;
}



.missao{
  position: absolute;
  text-transform: uppercase;
  color: gray;
  width: 220px;
  margin-top: 70px;
  margin-left: 214px;
}

.missao h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.separator3::before{
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  width: 75px;
  height: 2px;
  background-color: #787878;
  margin-left: 214px;
}


.separator3::after{
  position: absolute;
  content: '';
  left: 0px;
  bottom: 2px;
  width: 25px;
  height: 4px;
  background-color: #787878;
  margin-left: 214px;
}








.visao{
  position: absolute;
  text-transform: uppercase;
  color: gray;
  margin-top: 70px;
  margin-left: 718px;
  width: 220px;
}

.visao h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.separator4::before{
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  width: 75px;
  height: 2px;
  background-color: #787878;
  margin-left: 718px;
}


.separator4::after{
  position: absolute;
  content: '';
  left: 0px;
  bottom: 2px;
  width: 25px;
  height: 4px;
  background-color: #787878;
  margin-left: 718px;
}











.valores{
  position: absolute;
  color: gray;
  float: left;
  margin-left: 1205px;
  margin-top: 70px;
  text-transform: uppercase;
  width: 220px;
}


.valores h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.separator5::before{
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  width: 75px;
  height: 2px;
  background-color: #787878;
  margin-left: 1205px;
}


.separator5::after{
  position: absolute;
  content: '';
  left: 0px;
  bottom: 2px;
  width: 25px;
  height: 4px;
  background-color: #787878;
  margin-left: 1205px;
}











.missaobox{
  position: absolute;
  background-color: rgb(102, 192, 109);
  width: 400px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px black;
  padding-top: 280px;
  margin-left: 58px;
}



.visaobox{
  position: absolute;
  background-color: rgb(102, 192, 109);
  width: 400px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px black;
  padding-top: 280px;
  margin-left: 555px;
  align-items: center;
}


.valoresbox{
  position: absolute;
  background-color: rgb(102, 192, 109);
  width: 400px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px black;
  padding-top: 280px;
  margin-left: 1050px;
}











.iconmissao{
  position: absolute;
  width: 80px;
  margin: auto;
  margin-top: -270px;
  margin-left: 42%;
}


.submissao{
  position: absolute;
  width: 50px;
  margin: auto;
  margin-top: -180px;
  margin-left: 39.5%;
  color: white;
  font-size: 25px;
}



.textmissao{
  position: absolute;
  width: 300px;
  margin: auto;
  margin-top: -110px;
  margin-left: 50px;
  color: white;
}












.iconvisao{
  position: absolute;
  width: 70px;
  margin: auto;
  margin-top: -250px;
  margin-left: 42%;
}



.subvisao{
  position: absolute;
  width: 50px;
  margin: auto;
  margin-top: -180px;
  margin-left: 41.5%;
  color: white;
  font-size: 25px;
}



.textvisao{
  position: absolute;
  width: 300px;
  margin: auto;
  margin-top: -110px;
  margin-left: 50px;
  color: white;
}











.iconvalores{
  position: absolute;
  width: 80px;
  margin: auto;
  margin-top: -250px;
  margin-left: 42%;
}



.subvalores{
  position: absolute;
  width: 50px;
  margin: auto;
  margin-top: -180px;
  margin-left: 40%;
  color: white;
  font-size: 25px;
}



.textvalores{
  position: absolute;
  width: 300px;
  margin: auto;
  margin-top: -110px;
  margin-left: 50px;
  color: white;
}




























@media screen and (max-width: 599px) {


.goalsmain{
  margin: 0;
  margin-top: 1000px;
}



.titulo h1{
  font-size: 20px;
}







.missao{
  margin: 100%;
  margin-top: 74px;
  margin-left: 7.5%;
}




.separator3::before{
  margin-left: 7.5%;
}


.separator3::after{
  margin-left: 7.5%;
}












.visao{
  margin: 100%;
  margin-top: 70px;
  margin-left: 40%;
}


.separator4::before{
  margin-left: 40%;
}


.separator4::after{
  margin-left: 40%;
}















.valores{
  margin: 100%;
  margin-top: 70px;
  margin-left: 71%;
}



.separator5::before{
  margin-left: 71%;
}


.separator5::after{
  margin-left: 71%;
}
















.missaobox{
  width: 110px;
  height: 320px;
  margin-left: 3.5%;
}


.visaobox{
  width: 110px;
  height: 320px;
  margin-left: 35%;
}


.valoresbox{
  width: 110px;
  height: 320px;
  margin-left: 66.5%;
}



















.iconmissao{
  width: 60px;
  margin-left: 21%;
}


.submissao{
  width: 60px;
  margin-top: -200px;
  margin-left: 11.3%;
  font-size: 20px;
}



.textmissao{
  width: 80px;
  margin-top: -130px;
  margin-left: 11.3%;
  font-size: 13px;
}












.iconvisao{
  width: 60px;
  margin-left: 22%;
}



.subvisao{
  width: 60px;
  margin-top: -200px;
  margin-left: 18%;
  font-size: 20px;
}



.textvisao{
  width: 80px;
  margin-top: -130px;
  margin-left: 11.3%;
  font-size: 13px;
}











.iconvalores{
  width: 60px;
  margin-left: 20%;
}



.subvalores{
  width: 60px;
  margin-top: -200px;
  margin-left: 14.5%;
  font-size: 20px;
}



.textvalores{
  width: 80px;
  margin-top: -130px;
  margin-left: 11.3%;
  font-size: 13px;
}

























}
































































































.spacepg4{
  display: flex;
  height: 110px;
}





.page4{
  display: flex;
  position: relative;
  width: 1519.5px;
  height: 750px;
  padding-top: 100px;
}







.getintouch{
  position: relative;
  color: gray;
  text-transform: uppercase;
  width: 1519.5px;
  height: 60px;
}



.getintouch h1{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.separator9::before{
  position: absolute;
  content: '';
  left: 47.6%;
  bottom: 0px;
  width: 75px;
  height: 2px;
  background-color: #787878;
}


.separator9::after{
  position: absolute;
  content: '';
  left: 49.2%;
  bottom: 2px;
  width: 25px;
  height: 4px;
  background-color: #787878;
}















@media screen and (max-width: 599px) {


  
  .page4{
    padding-top: 300px;
  }
  
  
  
  
  
  
  
  .getintouch{
    margin: 0;
    margin-left: 2%;
    width: 25%;
    height: 60px;
  }
  
  
  
  
  
  .separator9::before{
    left: 39%;
  }
  
  
  .separator9::after{
    left: 46.5%;
  }
  
  







.google1{
  margin: 0;
  margin-top: 5%;
}


.google12{
  width: 55%;
}




.google2{
  margin: 0;
  margin-top: 5%;
}


.google22{
  width: 55%;
}






.verde{
  margin: 0;
  padding: 0;
  width: 55%;

}












}









































.verde{
  color: rgb(148, 240, 99);
  font-size: 20px;
}







#representanteswte{
    background-color: #000;
    display: flex;
}




.icons a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding-left: 600px;
}


.icons ion-icon{
  color: rgb(102, 192, 109);
  transition: 0.3s ease;
}


.icons ion-icon:hover{
  color: blue;
}
























.breakpg5{
  display: flex;
  height: 250px;
}












.containerpg5{
  font-weight: 100;
  line-height: 30px;
  color: gray;
  max-width: 800px;
  width: 100%;
  margin-left: 350px;
  position: absolute;
}










.contact2{
  position: relative;
  color: gray;
  text-transform: uppercase;
  width: 1519.5px;
  height: 60px;
  margin-bottom: 40px;
}



.contact2 h1{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.separator12::before{
  position: absolute;
  content: '';
  left: 47.6%;
  bottom: 0px;
  width: 75px;
  height: 2px;
  background-color: #787878;
}


.separator12::after{
  position: absolute;
  content: '';
  left: 49.2%;
  bottom: 2px;
  width: 25px;
  height: 4px;
  background-color: #787878;
}




















#contact input[type="text"],
#contact input[type="email"],
#contact input[type="country"],
#contact input[type="text"],
#contact input[type="tel"],
#contact input[type="text"],
#contact input[type="submit"]{font:400 16px "Roboto", times}




#contact{
  background: rgb(208, 205, 206);
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 60px;
  padding-top: 35px;
  margin-left: 20px;
  width: 100%;
}









fieldset{
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}







#contact input[type="text"],
#contact input[type="email"],
#contact input[type="country"],
#contact input[type="text"],
#contact input[type="tel"],
#contact input[type="text"],
#contact textarea{
  width: 100%;
  border: 1px solid gray;
  background: white;
  margin: 0 0 5px;
  padding: 10px;
}


#contact input[type="country"]{
  width: 103.1%;
  padding-top: 20px;
  padding-bottom: 20px;
}




#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="country"]:hover,
#contact input[type="text"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="text"]:hover,
#contact textarea:hover{
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid gray;
}





#contact button[type="submit"]{
  cursor: pointer;
  width: 103.1%;
  border: none;
  background: gray;
  color: white;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}







#contact button[type="submit"]:hover{
  background: blue;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}







#contact button[type="submit"]:active{
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 5);
}





#contact input:focus,
#contact textarea:focus{
  outline: 0;
  border: 1px solid gray;
}



















@media screen and (max-width: 599px) {


.breakpg5{
  height: 450px;
}






.contact2{
  width: 100%;
}




.separator12::before{
  left: 41%;
}


.separator12::after{
  left: 47.4%;
}








#contact{
  margin-top: 1%;
  margin-left: -93.2%;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 60px;
  padding-top: 35px;
  width: 100%;
}






#contact input[type="country"]{
  width: 107.5%;
}







#contact button[type="submit"]{
  width: 107.5%;
}









}


